#title {
    padding: 1em;
}

p {
    font-size: 2em;
}

#answer {
    width: 3em;
    padding: 0px; 
    margin-left: 5px;
}

#begin {
    padding: 0.8em;
    font-size: 1.5em;
    border-radius: 1000em;

    /* color: white;
    background-color: black; */
    color: black;
    background-color: white;
}

#next {
    padding: 0.8em;
    font-size: 1.5em;
    border-radius: 1000em;   
    
    color: black;
    background-color: white;
}

@media only screen and (max-width: 760px) {
    #bigscreenonly { display: none; }
}